src/test/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.axelspringer.de/sso/services/dsds" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.axelspringer.de/sso/services/dsds" targetNamespace="http://www.axelspringer.de/sso/services/dsds">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.axelspringer.de/sso/services/dsds">
            <xs:element name="requestDataRequest">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="key">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="255"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="dienstId" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="45"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="poolId" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="45"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="ssoKundenNummer" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestDataResponse">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element name="values" type="tns:values"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeDataRequest">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                        <xs:element minOccurs="1" name="values" type="tns:values"/>
                    </xs:sequence>
                    <xs:attribute name="dienstId" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="45"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="poolId" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="45"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="ssoKundenNummer" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="25"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeDataResponse">
                <xs:complexType>
                    <xs:attribute name="statusCode" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DsDsDienstIdFault"/>
            <xs:element name="DsDsPoolIdFault"/>
            <xs:element name="DsDsKeyFault"/>
            <xs:element name="DsDsSsoKundenNummerFault"/>
            <xs:element name="DsDsObjectDoesNotExistFault"/>
            <xs:element name="DsDsEmptyResultsetFault"/>
            <xs:simpleType name="value">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="5000"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="values">
                <xs:sequence maxOccurs="unbounded" minOccurs="1">
                    <xs:element minOccurs="1" name="value" type="tns:value"/>
                </xs:sequence>
                <xs:attribute name="key" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DsDsDienstIdFault">
        <wsdl:part element="tns:DsDsDienstIdFault" name="DsDsDienstIdFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DsDsSsoKundenNummerFault">
        <wsdl:part element="tns:DsDsSsoKundenNummerFault" name="DsDsSsoKundenNummerFault">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DsDsKeyFault">
        <wsdl:part element="tns:DsDsKeyFault" name="DsDsKeyFault"/>
    </wsdl:message>
    <wsdl:message name="DsDsPoolIdFault">
        <wsdl:part element="tns:DsDsPoolIdFault" name="DsDsPoolIdFault"/>
    </wsdl:message>
    <wsdl:message name="DsDsObjectDoesNotExistFault">
        <wsdl:part element="tns:DsDsObjectDoesNotExistFault" name="DsDsObjectDoesNotExistFault"/>
    </wsdl:message>
    <wsdl:message name="DsDsEmptyResultsetFault">
        <wsdl:part element="tns:DsDsEmptyResultsetFault" name="DsDsEmptyResultsetFault"/>
    </wsdl:message>
    <wsdl:message name="requestDataResponse">
        <wsdl:part element="tns:requestDataResponse" name="requestDataResponse"/>
    </wsdl:message>
    <wsdl:message name="writeDataRequest">
        <wsdl:part element="tns:writeDataRequest" name="writeDataRequest"/>
    </wsdl:message>
    <wsdl:message name="requestDataRequest">
        <wsdl:part element="tns:requestDataRequest" name="requestDataRequest"/>
    </wsdl:message>
    <wsdl:message name="writeDataResponse">
        <wsdl:part element="tns:writeDataResponse" name="writeDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="dsds">
        <wsdl:operation name="requestData">
            <wsdl:input message="tns:requestDataRequest" name="requestDataRequest"/>
            <wsdl:output message="tns:requestDataResponse" name="requestDataResponse"/>
            <wsdl:fault message="tns:DsDsKeyFault" name="DsDsKeyFault"/>
            <wsdl:fault message="tns:DsDsPoolIdFault" name="DsDsPoolIdFault"/>
            <wsdl:fault message="tns:DsDsDienstIdFault" name="DsDsDienstIdFault"/>
            <wsdl:fault message="tns:DsDsSsoKundenNummerFault" name="DsDsSsoKundenNummerFault"/>
            <wsdl:fault message="tns:DsDsEmptyResultsetFault" name="DsDsEmptyResultsetFault"/>
        </wsdl:operation>
        <wsdl:operation name="writeData">
            <wsdl:input message="tns:writeDataRequest" name="writeDataRequest"/>
            <wsdl:output message="tns:writeDataResponse" name="writeDataResponse"/>
            <wsdl:fault message="tns:DsDsKeyFault" name="DsDsKeyFault"/>
            <wsdl:fault message="tns:DsDsPoolIdFault" name="DsDsPoolIdFault"/>
            <wsdl:fault message="tns:DsDsDienstIdFault" name="DsDsDienstIdFault"/>
            <wsdl:fault message="tns:DsDsSsoKundenNummerFault" name="DsDsSsoKundenNummerFault"/>
            <wsdl:fault message="tns:DsDsEmptyResultsetFault" name="DsDsEmptyResultsetFault"/>
            <wsdl:fault message="tns:DsDsObjectDoesNotExistFault" name="DsDsObjectDoesNotExistFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="dsdsSoap11" type="tns:dsds">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="requestData">
            <soap:operation soapAction="SOAPACTION:http://www.axelspringer.de/sso/services/dsds#requestData"/>
            <wsdl:input name="requestDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DsDsKeyFault">
                <soap:fault name="DsDsKeyFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsPoolIdFault">
                <soap:fault name="DsDsPoolIdFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsDienstIdFault">
                <soap:fault name="DsDsDienstIdFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsSsoKundenNummerFault">
                <soap:fault name="DsDsSsoKundenNummerFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsEmptyResultsetFault">
                <soap:fault name="DsDsEmptyResultsetFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="writeData">
            <soap:operation soapAction="SOAPACTION:http://www.axelspringer.de/sso/services/dsds#writeData"/>
            <wsdl:input name="writeDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="writeDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DsDsKeyFault">
                <soap:fault name="DsDsKeyFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsPoolIdFault">
                <soap:fault name="DsDsPoolIdFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsDienstIdFault">
                <soap:fault name="DsDsDienstIdFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsSsoKundenNummerFault">
                <soap:fault name="DsDsSsoKundenNummerFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsEmptyResultsetFault">
                <soap:fault name="DsDsEmptyResultsetFault"/>
            </wsdl:fault>
            <wsdl:fault name="DsDsObjectDoesNotExistFault">
                <soap:fault name="DsDsObjectDoesNotExistFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="dsdsService">
        <wsdl:port binding="tns:dsdsSoap11" name="dsdsSoap11">
            <soap:address location="https://sso2-test.axelspringer.de:443/dsds3/dsds-2.6/dsds"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>